.modal-header
  %h1 New Task
=simple_form_for task, class: 'clearfix' do |f|
  .modal-body
    =f.input :title
    =f.input :note
    =f.input :completed, as: :string, input_haml: {class: 'datapicker'}
  .modal-footer
    =f.submit 'Save', class: 'btn btn-primary'      